<% if params[:controller] == 'about' %>
  <div class="well">
    <h3>Location Info</h3>
    <ul>
      <li>The Bookstore</li>
      <li>At the corner store at the end of the street</li>
      <li>The middle of the city</li>
      <li>Phone: +91 (080) 12345678</li>
      <li>Email: thebookstore@email.com</li>
    </ul>
  </div>
<% end  %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show'%>
  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class: "list-group-item"%>
    <% end %>
    
  </div>
<% end %>